<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Video Generator</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js"></script>
</head>
<body class="p-4">
<h1 class="text-3xl font-bold mb-6">Cassettophone</h1>
<form hx-post="/run"
      hx-target="#progress"
      class="max-w-lg mx-auto">
    <div>
        <label for="topic" class="block">Topic</label>
        <textarea id="topic" name="topic" rows="5" class="mt-1 block w-full py-2 px-3"></textarea>
    </div>
    <div class="mt-4"
         hx-get="/get_music_choices"
         hx-trigger="load"
         hx-target="#music"
         hx-swap="innerHTML">
        <label for="music" class="block">Music</label>
        <select id="music" name="music"></select>
    </div>
    <div class="mt-4"
         hx-get="/get_characters"
         hx-trigger="load"
         hx-target="#characters"
         hx-swap="innerHTML">
        <label for="characters" class="block">Characters</label>
        <fieldset id="characters" name="characters" ></fieldset>
    </div>
    <div class="mt-4"
         hx-get="/get_backdrops"
         hx-trigger="load"
         hx-target="#backdrop"
         hx-swap="innerHTML">
        <label for="backdrop" class="block">Backdrop</label>
        <select id="backdrop" name="backdrop"></select>
    </div>
    <div class="mt-4"
         hx-get="/get_subtitle_types"
         hx-trigger="load"
         hx-target="#subtitle_type"
         hx-swap="innerHTML">
        <label for="subtitle_type" class="block">Subtitle Type</label>
        <select id="subtitle_type" name="subtitle_type"></select>
    </div>
    <div class="mt-4"
         hx-get="/get_fonts"
         hx-trigger="load"
         hx-target="#font"
         hx-swap="innerHTML">
        <label for="font" class="block">Font</label>
        <select id="font" name="font"></select>
    </div>
    <button type="submit" class="mt-4 bg-blue-500 text-white py-2 px-4 rounded">Generate Video</button>
</form>
<div id="progress" class="mt-8"></div>
</body>
</html>
